<h1 mat-dialog-title>Constantes de jeu</h1>
<div mat-dialog-content>
    <p>Ces valeurs s'appliquent à tous les jeux existants.</p>
    <form [formGroup]="myForm">
        <p>
            <mat-form-field appearance="fill" disabled="true">
                <mat-label>Temps initial du compte à rebours</mat-label>
                <input matInput type="number" id="initialTime" formControlName="initialTime" />
                <mat-icon matPrefix>timer</mat-icon>
                <span matSuffix>secondes</span>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill" disabled="true">
                <mat-label>Temps de pénalité pour l’utilisation d’un indice</mat-label>
                <input matInput type="number" id="penalty" formControlName="penalty" />
                <mat-icon matPrefix>alarm_off</mat-icon>
                <span matSuffix>secondes</span>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill" disabled="true">
                <mat-label>Temps gagné avec la découverte d’une différence</mat-label>
                <input matInput type="number" id="timeGainPerDiff" formControlName="timeGainPerDiff" />
                <mat-icon matPrefix>alarm_add</mat-icon>
                <span matSuffix>secondes</span>
            </mat-form-field>
        </p>
    </form>
</div>
<span mat-dialog-actions [align]="'end'">
    <button mat-button [mat-dialog-close]="false">Fermer</button>
    <button mat-button cdkFocusInitial (click)="saveConsts()">Sauvegarder les modifications</button>
</span>
